{
  "root": true,
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env":{
    "node": true
  },
  "rules": {
    "no-console": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ]
  }
}
